<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.canbe.re_contact" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/re_contact_logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/re_contact_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" >
        <activity android:name=".OpeningPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfilePage"
            android:parentActivityName=".OpeningPage" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpeningPage" />

            <fragment android:name=".FragmentMyContact"></fragment>
            <fragment android:name=".FragmentMyProfile"></fragment>
            <fragment android:name=".FragmentAddContact"></fragment>
        </activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".EditProfile"></activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>